<<<<<<< HEAD
body{
margin: 0;
    padding: 0;
}
.header{
    background: #ffffff;
    padding: 25px 15px;
}

    .wrapper{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 97px;
        height: 27px;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
    }
    a{
            margin-right: 25px;
            color: #616161;
            font-family: 'Poppins:500', sans-serif;
            font-size: 14px;
            padding: 8px 10px;
            text-decoration: none;
        }
    
.banner{
            display: flex;
            align-items: center;
            min-height: 600px;
            padding: 30px 15px;
            background-color: #3f4049;
        }
    .banner .wrapper{
                max-width: 1170px;
                margin: 0 auto;
                flex: 1;
            flex-direction: column;
        }
               .banner_title{
                    font-size: 60px;
                    font-family: 'Libre Baskerville', serif;
                    color: #ffffff;
                    margin-bottom: 50px;
                   text-align: center;
                }
            
            .button{
                display: flex;
                align-items: center;
            }
                .btn{
                    padding: 20px 40px;
                    border-radius: 25px;
                    font-family: 'Poppins', sans-serif;
                    color: #ffffff;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    display: block;
                    background-color: #fc5f45;
                    margin-bottom: 50px;
                              
                }
            
            .features{
                display: flex;
                justify-content: center;
                max-width: 750px;
                align-items: center;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }
                .icon1{
                    color: #38c695;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 100px
                }
                .icon2{
                    color: #936cc7;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 100px
                }
                .icon3{
                    color: #feb960;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
.about{ max-width: 1170px;
        margin: 0 auto;
        flex: 1;
         display: flex;
         justify-content: center;
         align-items: center;

}
        .leftImage{
            width: 555px;
            height: 700px;
            background: linear-gradient(to top, #cbcbcb, #d9aca5);
            margin-top: 150px;
            border: 10px solid;
            border-image: linear-gradient(to top, #a3a3a3, #ae8a83);
            border-image-slice: 1;

            z-index: 1;
        }
        .rightImage{
            width: 650px;
            height: 550px;

            top: 40%;
            left:40%;
            z-index: 2;
            margin-top: 220px;
            background-color: #ffffff;
            border-bottom: 3px solid;
            border-image: linear-gradient( to right, #fc5f45 25%, #38c695 50%, #b27cf5 75%, #feb960 100%);
            border-image-slice: 1;
            box-shadow: 7px -7px 5px #fafafa;

        }
            .rightImage .title{
                margin: 95px 80px 50px;
                font-family: 'Libre Baskerville', sans-serif, solid;
                font-size: 45px;
            }
            .rightImage .text{
                width: 490px;
                height: 260px;
                margin-left: 80px;

            }
            .rightImage .text p{
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                color: #616161;
            }
        
=======
body{
margin: 0;
    padding: 0;
}
.header{
    background: #ffffff;
    padding: 25px 15px;
}

    .wrapper{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 97px;
        height: 27px;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
    }
    a{
            margin-right: 25px;
            color: #616161;
            font-family: 'Poppins:500', sans-serif;
            font-size: 14px;
            padding: 8px 10px;
            text-decoration: none;
        }
    
.banner{
            display: flex;
            align-items: center;
            min-height: 600px;
            padding: 30px 15px;
            background-color: #3f4049;
        }
    .banner .wrapper{
                max-width: 1170px;
                margin: 0 auto;
                flex: 1;
            flex-direction: column;
        }
               .banner_title{
                    font-size: 60px;
                    font-family: 'Libre Baskerville', serif;
                    color: #ffffff;
                    margin-bottom: 50px;
                   text-align: center;
                }
            
            .button{
                display: flex;
                align-items: center;
            }
                .btn{
                    padding: 20px 40px;
                    border-radius: 25px;
                    font-family: 'Poppins', sans-serif;
                    color: #ffffff;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    display: block;
                    background-color: #fc5f45;
                    margin-bottom: 50px;
                              
                }
            
            .features{
                display: flex;
                justify-content: center;
                max-width: 750px;
                align-items: center;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }
                .icon1{
                    color: #38c695;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 100px
                }
                .icon2{
                    color: #936cc7;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 100px
                }
                .icon3{
                    color: #feb960;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
.about{ max-width: 1170px;
        margin: 0 auto;
        flex: 1;
         display: flex;
         justify-content: center;
         align-items: center;

}
        .leftImage{
            width: 555px;
            height: 700px;
            background: linear-gradient(to top, #cbcbcb, #d9aca5);
            margin-top: 150px;
            border: 10px solid;
            border-image: linear-gradient(to top, #a3a3a3, #ae8a83);
            border-image-slice: 1;

            z-index: 1;
        }
        .rightImage{
            width: 650px;
            height: 550px;

            top: 40%;
            left:40%;
            z-index: 2;
            margin-top: 220px;
            background-color: #ffffff;
            border-bottom: 3px solid;
            border-image: linear-gradient( to right, #fc5f45 25%, #38c695 50%, #b27cf5 75%, #feb960 100%);
            border-image-slice: 1;
            box-shadow: 7px -7px 5px #fafafa;

        }
            .rightImage .title{
                margin: 95px 80px 50px;
                font-family: 'Libre Baskerville', sans-serif, solid;
                font-size: 45px;
            }
            .rightImage .text{
                width: 490px;
                height: 260px;
                margin-left: 80px;

            }
            .rightImage .text p{
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                color: #616161;
            }
        
>>>>>>> 032dbfa5d36523d450efbe945ab7324b97b62cbb
